# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:

- task: CmdLine@2
  inputs:
    script: |
      rm -rf /usr/local/bin/node
      npm cache clean --force
      npm -v; node -v
      npm install -g node@16.0.0
- task: JFrogNpm@1
  inputs:
    command: 'install'
    artifactoryConnection: 'clouddse-token'
    sourceRepo: 'anusha-test-npm'
    arguments: '--verbose'
    collectBuildInfo: true
    threads: '1'
    buildName: '$(Build.DefinitionName)'
    buildNumber: '$(Build.BuildNumber)'
    includeEnvVars: true